- @posts.each do |post|
  .post
    .well
      = image_tag post.photo, size: '400x400'
      .panel.panel-primary
        .panel-heading 
          = post.title
        .panel-footer 
          = post.content
      %strong
      = link_to "Edit", edit_post_path(post.id), class: 'btn btn-success'
      = link_to 'Show', post_path(post.id),  class: 'btn btn-warning'
      = link_to 'Destroy', post_path(post.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
