%p#notice= notice

%p
  %b Description:
  = @post.title
%p
  %b Photo:
  = image_tag @post.photo, size: '400x400'
%p
  %b Content:
  = @post.content

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
