%p#notice= notice
.wrapper
  .left-side
    .panel.panel-default
      .panel-body
        .panel-photo
          =image_tag @post.photo
        .post-panel
          = link_to "like", like_post_path(@post), method: :get
          = @post.get_upvotes.size
          = link_to "dislike", dislike_post_path(@post), method: :get
          = @post.get_downvotes.size
          -if user_signed_in?
            -if @post.user_id == current_user.id
              = link_to 'Edit', edit_post_path(@post)
              \|
              = link_to 'Back', posts_path
        %h3= @post.title
        = @post.content
  .right-side
    .comments
      .panel.panel-default
        .panel-heading
          Comments
        .panel-body
          -@comments.each do |comment|
            .author
              Posted by
              =comment.user.email
            %p=comment.content
            %hr
          =render 'comments/form'
    .random-post
      .panel.panel-default
        .panel-body
          = link_to (image_tag @random_post.photo), @random_post
        .panel-footer
          =@random_post.title