!!!
%html
  %head
    %title Pinterest
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand{:href => "http://localhost:3000/posts/"} Pinterest
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "http://localhost:3000/posts/new"}
                New Post
                %span.sr-only (current) 
          %form.navbar-form.navbar-left
            = form_tag(posts_path, :method => "get", id: "search-form") do
              = text_field_tag :search, params[:search], placeholder: "Search"
              = submit_tag "Search", :name => nil, class: 'btn btn-default'
          %ul.nav.navbar-nav.navbar-right
            -if !user_signed_in?
              %li
                = link_to "Sign In", new_user_session_path
              %li  
                = link_to "Sign Up", new_user_registration_path
            -if user_signed_in?
              %li
                = link_to "Account", edit_user_registration_path
              %li
                = link_to "Log Out", destroy_user_session_path, method: :delete, class:'btn'
        / /.navbar-collapse
      / /.container-fluid
    .wrapper
      = yield